<h1>Add a Comic!</h1>

<!-- generally no equal sign for a loop, but the exception is for forms -->
<!-- it is rails convention to loop through a form with an f -->
<%= form_for @comic do |f| %>
    Title: <%= f.text_field :title %><br>
    Number: <%= f.text_field :number %><br>
    Publisher: <%= f.text_field :publisher %><br>
    Location: <%= f.text_field :comic_box %><br>
    Loaned Out?: <%= f.check_box :loaned_out %><br><br>

    <%= f.submit 'Add this comic!' %>
<% end %> <!-- you don't need an equal sign in the end tag -->