<%= render 'nav' %>
<h1>Update <%= @graphic_novel.title %></h1>

<%= form_for @graphic_novel do |f| %>
	<div class="info-list">
		Title:  		 <%= f.text_field :title %><br>
		Author:      <%= f.text_field :author %><br>
		Number:      <%= f.number_field :number %><br>
		Publisher:   <%= f.text_field :publisher %><br>
		Loaned Out?: <%= f.check_box :loaned_out %>
		<%#= f.radio_button :loaned_out, 'No' %><%#= f.label :loaned_out, 'No', value: 'No' %>
		<%#= f.radio_button :loaned_out, 'Yes' %><%#= f.label :loaned_out, 'Yes', value: 'Yes' %>
		<br><br>

		<%= f.submit 'Update!' %><br>
	</div>
	<p class="ruby-link"><%= link_to 'Cancel', graphic_novels_path %></p>
<% end %>