<%= render 'users/nav' %>
<h1 class="heading">Add a graphic novel!</h1>

<%= form_for @graphic_novel do |f| %>
	<div class="info-list">
		User:        <%= f.collection_select :user_id, User.all, :id, :name, include_blank: '' %><br>
		Title:  		 <%= f.text_field :title %><br>
		Author:      <%= f.text_field :author %><br>
		Number:      <%= f.number_field :number %><br>
		Publisher:   <%= f.text_field :publisher %><br>
		Loaned Out?: <%= f.check_box :loaned_out %>
		<%#= f.radio_button :loaned_out, 'No' %><%#= f.label :loaned_out, 'No', value: 'No' %>
		<%#= f.radio_button :loaned_out, 'Yes' %><%#= f.label :loaned_out, 'Yes', value: 'Yes' %>
		<br><br>

		<%= f.submit 'Add this graphic novel!' %><br>
	</div>
	<p class="ruby-link"><%= link_to 'Cancel', graphic_novels_path %></p>
<% end %>