<h1>MOVIES</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Writer</th>
    <th>Rotten Tomatoes Score</th>
    <th>Format</th>
    <th>Loaned Out</th>
    <th colspan="7"></th>
  </tr>
  </thead>

  <tbody>
  <% @movies.each do |m| %> <!-- no equal sign in the embedded ruby tag around a loop -->
      <tr>
        <td><%= m.title %></td>
        <td><%= m.year %></td>
        <td><%= m.director  %></td>
        <td><%= m.writer  %></td>
        <td><%= m.rotten_tomatoes  %></td>
        <td><%= m.format  %></td>
        <td><%= m.loaned_out %></td>
        <td><%= link_to "Delete this movie!", @movie, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
  <% end %>
  </tbody>
</table>