<h1>GRAPHIC NOVELS</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Number</th>
    <th>Publisher</th>
    <th>Loaned Out</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @graphic_novels.each do |gn| %> <!-- no equal sign in the embedded ruby tag around a loop -->
      <tr>
        <td><%= gn.title %></td>
        <td><%= gn.number %></td>
        <td><%= gn.publisher  %></td>
        <td><%= gn.loaned_out %></td>
        <td><%= link_to "Delete this comic!", @graphic_novel, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
  <% end %>
  </tbody>
</table>