<h1>BOOKS</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Pages</th>
    <th>Genre</th>
    <th>Loaned Out</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |b| %> <!-- no equal sign in the embedded ruby tag around a loop -->
      <tr>
        <td><%= b.title %></td>
        <td><%= b.author %></td>
        <td><%= b.year %></td>
        <td><%= b.pages %></td>
        <td><%= b.genre %></td>
        <td><%= b.loaned_out %></td>
        <td><%= link_to "Delete this book!", @book, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
  <% end %>
  </tbody>
</table>